.contribution {
    margin: 100px auto 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1152px;
}
.contribution p {
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
}
.contribution h3.hyperlink, .hyperlink {
    color: #b86161;
    text-shadow: 0 0 4px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: .1s ease-in-out;
    margin: 18px auto 12px;
}
.contribution h3.hyperlink:hover, .hyperlink:hover {
    color: #a84656;
}
.contribution .card-wrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.contribution .card-wrapper .card {
    width: 30%;
    height: 530px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.contribution .card-wrapper .card .card-photo {
    width: 320px;
    height: 320px;
    box-shadow: 0 0 6px rgba(0,0,0,0.25);
    cursor: pointer;
}
.contribution .card-wrapper .card .card-photo img {
    border-radius: 2px;
    width: 100%;
    height: 100%;
}
.contribution .card .text {
    height: 200px;
}
@media (max-width: 1200px) {
    .contribution {
        width: 90%;
    }
    .contribution .card-wrapper .card {
        width: auto;
        height: 475px;
    }
    .contribution p {
        font-size: 16px;
    }
    .contribution h3.hyperlink {
        font-size: 20px;
    }
    .contribution .card-wrapper .card .card-photo {
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 900px) {
    .contribution .card-wrapper .card {
        height: 405px;
    }
    .contribution p {
        font-size: 14px;
    }
    .contribution h3.hyperlink {
        font-size: 18px;
    }
    .contribution .card-wrapper .card .card-photo {
        width: 215px;
        height: 215px;
    }
}
@media (max-width: 700px) {
    .contribution .card-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contribution p {
        font-size: 16px;
    }
    .contribution h3.hyperlink {
        font-size: 20px;
    }
    .contribution .card-wrapper .card {
        width: 320px;
        height: 530px;
    }
    .contribution .card-wrapper .card .card-photo {
        width: 320px;
        height: 320px;
    }
}
@media (max-width: 330px) {
    .contribution .card-wrapper .card {
        width: 275px;
        height: 485px;
    }
    .contribution .card-wrapper .card .card-photo {
        width: 275px;
        height: 275px;
    }
    .contribution p {
        font-size: 14px;
    }
    .contribution h3.hyperlink {
        font-size: 20px;
    }
}