.header {
    margin: auto;
    width: 100%;
    height: 10%;
    max-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #333;
}
.header .logo {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("/logos/pets4luv.png");
    width: 120px;
    height: 80px;
    cursor: pointer;
}
.header .social-media {
    width: 120px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header .social-media svg {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: .1s ease-in-out;
}
.header .social-media svg:hover {
    transform: translateY(2px);
}
.header .burger {
    width: 120px;
    height: 80px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header .burger span {
    font-size: 32px;
    transition: .2s ease-in-out;
    filter: invert(20%);
}
.header .burger span:hover {
    filter: invert(0%);
}
.header .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #a84656;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 0;
}
.header .overlay .link {
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header .overlay .link.row {
    justify-content: space-between;
}
.header .overlay .link.row span {
    margin: auto 40px;
    font-size: 32px;
    color: #ddd;
}
.header .overlay .link.row span:hover {
    color: #fff;
    transition: .2s ease-in-out;
}
.header .overlay .social-media svg {
    filter: invert(100%);
}
.header .overlay .link a {
    font-size: 20px;
    color: #ddd;
    text-decoration: none;
    font-weight: 500;
    transition: .2s ease-in-out;
}
.header .overlay .link a.active {
    font-weight: bold;
}
.header .overlay .link a:hover {
    color: #fff;
}

@media (max-width: 600px) {
    .header .logo, .header .burger {
        width: 80px;
        height: 60px;
    }
}